<h1>Hello Angular Project</h1>
<!--<app-user-profile></app-user-profile>
<app-user-profile name="Ram"></app-user-profile>
<app-user-profile name="Shyam"></app-user-profile>
<app-user-profile name="Radha"></app-user-profile>

<app-user-profile username="Raj"></app-user-profile>
<app-user-profile username="Suresh"></app-user-profile>
<app-user-profile username="Ramesh"></app-user-profile>-->

<!-- <app-user-profile name="Aniket" issingle="true" salary="40000"></app-user-profile>
<app-user-profile name="Shubham" issingle="false" salary="5000"></app-user-profile> -->
<!-- <app-user-profile 
*ngFor="let u of users"
[name]="u.name" 
[issingle]="u.issingle"
[salary]="u.salary"
(myEvent)="RecivedData($event)"
></app-user-profile> -->
<app-user-profile name="Aniket" salary=45000 mobile="9130537006"></app-user-profile>
<h2>{{name}}</h2>
<button (click)="clear()">clear</button>